.login {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.login__title {
  font-size: 3rem;
}

.login__image {
  width: 14rem;
}

.login__link {
  width: 14rem;
}
